<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518803896548-ucs2mqsf1mudijt55u2690dqq7o2l337.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518803896548-ucs2mqsf1mudijt55u2690dqq7o2l337</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518803896548-aij2bafrhg6r4l913qnqmq6q4hg5sod1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD465Ndb8Q6yTJ08tszAl-QZjlAYfOfw4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>518803896548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tmwes</string>
	<key>PROJECT_ID</key>
	<string>tmwes-73322</string>
	<key>STORAGE_BUCKET</key>
	<string>tmwes-73322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518803896548:ios:cb49027794bf361efb14f1</string>
</dict>
</plist>